name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    env:
      DATABASE_URI: ${{secrets.DATABASE_URI}}
      SECRET_KEY: ${{secrets.SECRET_KEY}}
      ALGORITHM_TO_ENCODE: ${{secrets.ALGORITHM_TO_ENCODE}}
      UPSTASH_REDIS_REST_URL: ${{secrets.UPSTASH_REDIS_REST_URL}}
      UPSTASH_REDIS_REST_TOKEN: ${{secrets.UPSTASH_REDIS_REST_TOKEN}}
      GEOIP_DB_PATH : ${{secrets.GEOIP_DB_PATH}}
      PORT: ${{secrets.PORT}}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pre-commit pytest aiosqlite

      - name: Run pre-commit
        run: |
          pre-commit run --all-files

      - name: Run tests
        run: |
          pytest tests/ --maxfail=1 --disable-warnings -v

      - name: Build Docker image
        run: |
          docker build -t url-shortener:ci .